

<!-- BEGIN video -->
<link rel="stylesheet" type="text/css" href="./Customizing/global/plugins/Services/Repository/RepositoryObject/Video/templates/css/mediaelementplayer.min.css" media="screen">
<script type="text/javascript" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/Video/templates/js/mediaelement-and-player.min.js"></script>

<script>
    $(document).ready(function() {
        $('video').mediaelementplayer();
    });
</script>

<div class="xvvv">
    <video>
        <!-- BEGIN source -->
        <source src="{PATH}" type="video/{FORMAT}"/>
        <!-- END source -->
    </video>
</div>
<!-- END video -->